<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="true"
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar i18n="Text for the side navigation toolbar@@app.default-layout.toolbar[menu]">Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item href="#" i18n="Text for navigation list item organization@@app.default-layout.list-item[organizations]">Organizations</a>
      <a mat-list-item href="#" i18n="Text for navigation list item company@@app.default-layout.list-item[companies]">Companies</a>
      <a mat-list-item href="#" i18n="Text for navigation list item employee@@app.default-layout.list-item[employees]">Employees</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        i18n-aria-label="Aria label on button used to toggle the side navigation@@app.default-layout.button[toggle]"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon i18n-aria-label="Aria label on icon used to toggle the side navigation@@app.default-layout.icon[toggle]" aria-label="Side navigation toggle icon">menu</mat-icon>
      </button>
      <span i18n="The application name displayed in the top toolbar@@app.default-layout.sidenav-content[app-name]">public-web-client</span>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
